{% extends "base.html" %}



{% block page_content %}
<div id="profile">
    <v-app >
        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-flex d-flex xs12 xl4 sm6 md4>
                    <v-card>
                        <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"></v-img>
                    </v-card>
                </v-flex>
                <v-flex d-flex md4 sm6 xl3>
                    <v-card>
                        <v-card-title primary-title>
                            <div>
                                <v-chip outline color="secondary">
                                    <v-avatar>
                                        <v-icon>account_circle</v-icon>
                                    </v-avatar>
                                    <p>
                                        <h4>Hi:[[name]] [[last]] </h4>
                                    </p>
                                    <v-btn round flat href="/edit_name">
                                        <v-icon>create</v-icon>
                                    </v-btn>
                                </v-chip>

                                <v-chip outline color="secondary">
                                    <v-avatar>
                                        <v-icon>account_circle</v-icon>
                                    </v-avatar>
                                    <p>
                                        <h4>User-Name:[[username]]</h4>
                                    </p>
                                    <v-btn round flat href="/edit_username">
                                        <v-icon>create</v-icon>
                                    </v-btn>
                                </v-chip>

                                <v-chip outline color="secondary">
                                    <v-avatar>
                                        <v-icon>email</v-icon>
                                    </v-avatar>
                                    <p>
                                        <h4>Email:[[email]]</h4>
                                    </p>
                                    <v-btn round flat href="/edit_email">
                                        <v-icon>create</v-icon>
                                    </v-btn>
                                </v-chip>



                            </div>
                        </v-card-title>

                        <v-card-actions>

                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</div>


<script>
    var example = new Vue({
        el: "#profile",
        delimiters: ["[[", "]]"],
        data() {
            return {
                username:"sss",
                email:"",
                name:"",
                last:""
            }
        },
        created() {
               this.getUser()
           },
        methods: {
          async getUser(){
           await axios.get("http://127.0.0.1:5000/decrypted").then((result) => {
                this.username=result.data.username
                this.email=result.data.email
                this.name=result.data.firstName
                this.last=result.data.lastName
          

            }).catch((err) => {
                console.log(err)
            });

           } 
           ,
        
           mounted() {
               this.getUser()
           },
        },
    })
</script>
{% endblock %}