{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1>Singup</h1>
    <div class="alert alert-danger" role="alert">
        <p> Before you click on Sumbit please ensure you have freeOTP app installed and ready to run, You may download it from:</p>
         <a href="https://itunes.apple.com/us/app/freeotp/id872559395">iTunes</a> | <a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp">Google Play</a>

    </div>
    <p></p>
    {{ wtf.quick_form(form) }}
    <br>
{% endblock %}
